/* External Style Sheet of LAB2 */


h1      
{   
    font-family:'Courier New', Courier, monospace;
    font-size: 45px;
    color: rgb(42, 54, 129);      
}

body   
{   font-family: 'Courier New', Courier, monospace; 
    font-size: 13pt;
    color:rgb(8, 74, 71);
    background-color: rgba(227, 238, 255, 0.953);
    margin-right: 30px;
}

body, h1     
{   
    text-align: center;
    padding: 0.3em; 
}

#smallFont
{
    font-size: 10pt;
    height: .9em;
}

#bigBorder
{
    border: 1px solid rgba(227, 238, 255, 0.953);
    margin-left: 460px;
    margin-right: 460px;
    padding: 15px 120px;
    background: white;
    text-align: center;
    width: 300px;
    border-radius: 30px;
}

input, button   
{ 
    border-width: medium;
    border-style: solid;
    border-color:rgb(66, 138, 177);
    font-family:'Courier New', Courier, monospace;
}
